<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_GoogleShopping>
            <version>0.1.5</version>
        </Stuntcoders_GoogleShopping>
    </modules>
    <global>
        <models>
            <stuntcoders_googleshopping>
                <class>Stuntcoders_GoogleShopping_Model</class>
                <resourceModel>stuntcoders_googleshopping_resource</resourceModel>
            </stuntcoders_googleshopping>
            <stuntcoders_googleshopping_resource>
                <class>Stuntcoders_GoogleShopping_Model_Resource</class>
                <entities>
                    <feed>
                        <table>stuntcoders_googleshopping_feed</table>
                    </feed>
                </entities>
            </stuntcoders_googleshopping_resource>
        </models>
        <blocks>
            <stuntcoders_googleshopping>
                <class>Stuntcoders_GoogleShopping_Block</class>
            </stuntcoders_googleshopping>
        </blocks>
        <helpers>
            <stuntcoders_googleshopping>
                <class>Stuntcoders_GoogleShopping_Helper</class>
            </stuntcoders_googleshopping>
        </helpers>
        <resources>
            <stuntcoders_googleshopping_setup>
                <setup>
                    <module>Stuntcoders_GoogleShopping</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </stuntcoders_googleshopping_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <stuntcoders_googleshopping>
                    <file>stuntcoders/googleshopping.xml</file>
                </stuntcoders_googleshopping>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Stuntcoders_GoogleShopping after="Mage_Adminhtml">Stuntcoders_GoogleShopping_Adminhtml</Stuntcoders_GoogleShopping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <stuntcoders_googleshopping>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>stuntcoders_googleshopping/observer::setFeeds</model>
                </run>
            </stuntcoders_googleshopping>
        </jobs>
    </crontab>
</config>
